.center-page {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    max-width: 200px; 
    height: auto; 
    padding: 120px; 
    background-color: #f5f4f4fd;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 20px 0; 
    box-shadow: -20px 20px 10px #0000001a;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 1;
    font-size: 2.5rem;
    font-weight: bold;
    color: #514e4e;
}
h2 {
    text-align: center; 
    margin-top: 1; 
    margin-bottom: 20px; 
    font-size: 2em; 
    font-weight: bold; 
    color: #4f4c4c; 
  }
  .signup-form p{
    color: #595757;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 0.7rem;
  }
.form-group {
    height: auto;
    margin-bottom: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-group label {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4b4949;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    background-color: transparent; 
    width: 110%; 
    flex-grow: 1;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #264bc6;
    color: #ddd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color:#143191;
}

.login {
    padding: 12px;
    background-color: #909297;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login:hover {
    background-color: #49494b;
}

.dataError {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .signup-form {
        width: 50%; 
    }
}